site_name: B2RUVL Docs
site_url: https://TitusLVR.github.io/B2RUVL_Docs/
repo_url: https://github.com/TitusLVR/B2RUVL_Docs
repo_name: TitusLVR/B2RUVL_Docs

theme:
  name: material
  features:
    - navigation.sections
    - navigation.indexes
    - content.code.copy
  palette:
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

nav:
  - Home: index.md
  - Features: features.md
  - Installation: installation.md
  - Preferences: preferences.md

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight:
      anchor_linenums: true
